/*Estructura base*/

#menu ul #main {
    background:#c986b2;
}

#menu ul #main:hover {
    background:#e499ca;
}

#margen {
    height: 70;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Georgia', serif;
    background: #1a1a1a;
    color: #e0e0e0;
} 

/*Texto descriptivo*/

.innovation_container {
    display: flex;
    align-items: center; /* Centra el contenido verticalmente */
    gap: 15px; /* Espacio entre el círculo y el párrafo */
  }

.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100; /* Ajusta el tamaño del círculo */
    height: 100;
    background-color: #2e2e2e; /* Color de fondo del círculo */
    color: #fff; /* Color del texto */
    border-radius: 50%; /* Hace que el contenedor sea un círculo */
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    margin: 75px 35px 0 100px;
    padding: 20px;
}

#circle_text {
    margin-left: 100px;
    font-size: 18px;
    color: #333;
}