/*Estructura base*/

#menu ul #main {
    background:#c986b2;
}

#menu ul #main:hover {
    background:#e499ca;
}

#margen {
    height: 70;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Georgia', serif;
    background: #1a1a1a;
    color: #e0e0e0;
} 
h1 {
    color: #ffffff;
}

.programa-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.programa-card {
    background-color: #9f6099;
    border: 1px solid #6b4061;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.programa-card:hover {
    transform: scale(1.05);
}

.programa-card h3 {
    color:   #1a1a1a;

    font-size: 1.2em;
}

.programa-card p {
    color: #ffffff;
    font-size: 1em;
    margin-bottom: 10px;
}

.programa-card a {
    position: relative;
    background-color: #6a0dad;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s; 

}

.programa-card a:hover {
    background-color: #8a2be2;
}