body {
    margin: 0;
    padding: 0;
    font-family: 'Georgia', serif;
    background: #1a1a1a;
    color: #e0e0e0;
} 

#margen {
    height: 70;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#ConteItemsCarrusel {
    height: 500px;
    overflow: hidden;
    z-index: 1;
}

.itemCarrusel {
    height: 100%;
    position: relative;
}

.tarjetaCarrusel {
    height: 100%;
}

.flechasCarrusel {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

#dots {
    display: flex;
    justify-content: center;  
    position: absolute;
    margin-top: 0;
    top: 390px;
    width: 100%;
    position: 0 0 0 120%;
}

#dot {
    font-size: 3em;
    opacity: 0.3;
}

#dotActive {
    font-size: 3em;
}

a {
    text-decoration: none;
}

i {
    color: #ffffff;
    justify-content: center;
    font-size: 3em;
}

#imgCarrusel {
    height: 100%;
    width: 100%;
}

/* Cartel Informativo */

.boxCartelCarrusel {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.cartelCarrusel {
    flex-grow: 1;
    position: absolute;
    bottom: 200px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(58, 46, 58, 0.6);
    color: white;
    padding: 30px;
    border-radius: 5px;
    font-size: 10px;
}

.subcartelCarrusel {
    position: absolute;
    bottom: 170px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(7, 6, 7, 0.75);
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 7px;
}

#curso {
    font-size: 50px;
    padding-bottom: 20px;
}

/* Video */

#video {
    position: relative;
    background-color: #1d021d;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
}

#mensaje-bienvenida {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(19, 1, 23, 0.903);
    color: white;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 1.2em;
    opacity: 1;
    transition: opacity 0.5s ease;
    z-index: 1000;
    text-align: center;
}