/* menu */

#menu ul {
    list-style:none;
    margin-right:10;
    padding:0;
    z-index: 10;
}
   
   /* items del menu */
   
#menu ul li {
    background-color:#844964;
}
   
   /* enlaces del menu */
   
#menu ul a {
    display:block;
    color:#ffd5d5;
    text-decoration:none;
    font-weight:80px;
    font-size:100%;
    padding-left:50px;
    padding-right:50px;
    padding-top: 7;
    padding-bottom: 7;
    font-family:"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform:uppercase;
    letter-spacing:0;
}
   
   /* items del menu */
   
#menu ul li {
    position:relative;
    float:right;
    margin:0;
    padding:0;
}
   
   /* efecto al pasar el ratón por los items del menu */
   
#menu ul li:hover {
    background:#c986b2;
}


   /* menu desplegable */

#menu ul ul {
    display:none;
    position:absolute;
    top:100%;
    left:0;
    background:#ffd5d5;
    padding:0;
}
   
   /* items del menu desplegable */
   
#menu ul ul li {
    float:none;
    width:160px
}
   
   /* enlaces de los items del menu desplegable */
   
#menu ul ul a {
    line-height:120%;
    padding:10px 12px;
}
   
   /* items del menu desplegable al pasar el ratón */
   
#menu ul li:hover > ul {
    display:block;
}